html { min-width: 800px; }

body, div, td, th, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: verdana,sans-serif;
        font-size:    x-small;
        voice-family: "\"}\"";
        voice-family: inherit;
        font-size: small;
        color: #333;
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

body {
        width:95%;
        background: #405773;
        color: #333;
        padding: 1em 20px 3em 20px;
        margin: 0;
}

a { color: #06C; }
a:hover { color: #333; }
a:active { color: #000; }

a href  {
        font-size: 10 pt;
        }
        
p       {
        line-height: 140%;
        font-size: 10pt;
        }

center  {
        font-size: 10pt;
        }
        
h1,h2 {
        font-family: trebuchet ms;
        font-weight: bold;
        color: #333;
}

h1 {
        font-size: 180%;
        margin: 0;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px dotted #666; color: #000; }

h2 {
        font-size: 140%;
        padding-bottom: 2px;
        border-bottom: 1px solid #CCC;
        margin: 0;
}

p.note {
        background: #425573;
        padding: 4px;
        font-family: tahoma;
        font-size: 85%;
        line-height: 130%;
        margin-top: 0;
        font-weight:bold;
        text-align: left;
        color:#fff;
}


input.btn{ color:#425573;
           font-family: trebuchet ms;
           font-size:10pt;
           font-weight:bold;
           background-color:#fff;
           border:2px solid;
           border-top-color:#425573;
           border-left-color:#425573;
           border-right-color:#425573;
           border-bottom-color:#425573;
           cursor: hand;
}

     
#pageheader {background-color : #425573; width:100%;}

#center {
         font-family: trebuchet ms;
          font-size:10pt;
          padding: 100px 20px 10px 20px;
          text-align:center;
}
#formfield {
          font-family: trebuchet ms;
          font-size:10pt;
          padding: 5px 20px 10px 20px;
          text-align:left;
}

.help {
          font-family: trebuchet ms;
          font-size:10pt;
          background:#fff;
          width:500px;
}
span.helpright { display: inline; font-size: 10px; float: right; vertical-align: top; width: 10%; line-height: 12px; text-align: right ;}

        .flatHelp{
        font-size: 12px;
        font-family:verdana,arial, sans-serif;
        background-color: #fff;
        color: #425573;
        font-weight:bold;
        border: 1px solid #425573;
        ;}

.helpDisplay{ background:#EDEBE3;}

.lightText{color:#999999;}

.helpLink { text-decoration: none; color: #333; }


div#tpcfooter {
 
 font: bold 10px verdana;
 color: #fff;
 z-index: 6;
 padding-top: 10px;
 text-align: center;
 }
 
div#tpcfooter a:link {color: #fff; text-decoration: underline; background-color:#405773;}
div#tpcfooter a:visited {color: #fff; text-decoration: underline; background-color:#405773;}
div#tpcfooter a:hover {color: #405773; text-decoration: none; background-color: #e0e0e0;}
div#tpcfooter a:active {color: #405773; text-decoration: none; background-color: #e0e0e0;}
 

